@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #242424;
    min-height: 100vh;
    color: white;
    font-family: "poppins";

}
button{
    cursor: pointer;
    padding: 8px 20px;
    color: white;
    background: #242424;
    border-radius: 8px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    transition: all .3s;
    &:hover{
       filter: brightness(60%); 
    }
}

.container{
    height: 100vh;
    display: grid;
    place-items: center;
}
.login{
    background: white;
    color: black;
    width: 600px;
    max-width: 600px;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 50px;
    @media(max-width: 700px){
        width: 90vw;
    }
    button{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 8px 10px;
        background: #1a1a1a;
        border-radius: 8px;
        &:hover{
            background: rgb(56, 56, 56);
        }
        img {
            width: 30px;
        }


    }
}
.room-page{
    background: white;
    padding: 50px 60px;
    border-radius: 10px;
    display: flex;
     flex-direction: column;
     gap: 40px;
     text-align: center;
     color: #1a1a1a;
     input{
        padding: 5px 10px;
        font-size: 20px;
        border: none;
        outline: none;
        box-shadow: 2px 2px 10px rgba( 0, 0, 0, 0.25);
        border-radius: 8px;
     }
     button:last-child{
        background: crimson;
     }

}